/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. 
*/
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


 Provide sufficient contrast against white background 

a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/*
 Sticky footer styles
-------------------------------------------------- */

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
     Margin bottom by footer height 
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
     Vertically center the text there 
}

.nopadding {
    padding: 0px 0px 0px 0px;
    margin: 0 !important;
}

@media print {

    .hidden-print,
    .hidden-print * {
        display: none !important;
    }
}

.imgCustom50px {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 50px;
}

.imgCustom50px:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.unstyled-button {
    border: none;
    padding: 0;
    background: none;
}

.not-bold {
    font-weight: normal !important;
}

.imgCustom {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 50px;
}

.imgCustom:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

 /*########## بداية اضافة التوافق مع botstrab #########*/
@media (max-width: 767px) {
    .col-sm-6

{
    flex: 0 0 50%;
    max-width: 50%;
}

}
/*########## نهاية اضافة التوافق مع botstrab #########*/
 

/*########################################*/
.form-group {
    /*margin-bottom: 1.5rem;*/
    margin-bottom: 2px;
}

.form-control-wrapper {
    /*  position: relative;
    width: 100%;
    border: 2px solid #0c6fd2;
    border-radius: 0.25rem;
    padding: 0.1rem 0.1rem;
    transition: border-color 0.1s ease-in-out;*/
    position: relative;
    width: 100%;
    /*border: 2px solid #0c6fd2;*/
    border-radius: 0.25rem;
    padding: 0.1rem 0.1rem;
    transition: border-color 0.1s ease-in-out;
    border-right: 2px solid #0c6fd2;
    border-bottom: 2px solid #0c6fd2;
    border-left: 2px solid #0c6fd2;
    /*  background-color: transparent;*/
    /*background-image: linear-gradient(to right, #0c6fd2, #fff);*/ /* إضافة البوردر العلوي الأحمر والأصفر */
    /*background-size: 100% 2px;*/ /* تحديد ارتفاع البوردر العلوي */
    /*background-repeat: repeat-x;*/ /* تكرار البوردر العلوي أفقيًا */
    /*background-position: 0 0;*/ /* وضع البوردر العلوي في الجزء العلوي */
}

.form-control {
    display: block;
    width: 100%;
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #0b0001;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    transition: padding 0.3s ease-in-out;
}

.form-label {
    position: absolute;
    top: 5%;
    right: 0.75rem;
    transform: translateY(-50%);
    font-size: 0.875rem;
    color: #050000;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.form-control:focus,
.form-control:not(:placeholder-shown) {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

    .form-control:focus + .form-label,
    .form-control:not(:placeholder-shown) + .form-label {
        top: 0.5rem;
        font-size: 0.75rem;
    }

.form-control-wrapper:focus-within {
    border-color: #007bff;
}

.select2-container--default .select2-selection--single {
    border: 0px solid #000810 !important;
    /*padding: 0.46875rem 0.75rem;*/
    /*height: calc(2.25rem + 2px);*/
  
}
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #030000 !important;
        line-height: 30px;
        font-size: 14px;
    }

.select2-container .select2-selection--single {
     height: 33px !important;
 }

/*//##########################*/
/* ############## بداية المساقة بين Rows #############*/

/*////################## my custom baground header ###############
*/
/*body:not(.sidebar-mini-md) .content-wrapper, body:not(.sidebar-mini-md) .main-footer, body:not(.sidebar-mini-md) .main-header {*/
 .main-footer, .main-header {
/*    transition: margin-right 0.3s ease-in-out;
    margin-right: 250px;*/
    background-image: linear-gradient(100deg, #3a1234, #1d123a 25%, #2580c3) !important;
}

/*//################## end my custom baground heder #############*/

.mymenu {
    background-image: linear-gradient(100deg, #3a1234, #1d123a 25%, #2580c3) !important;
}
[class*='sidebar-dark-'] {
    background-image:   linear-gradient(100deg, #3a1234, #1d123a 25%, #2580c3) !important;
}
[class*='sidebar-light-'] .nav-sidebar > .nav-item.menu-open > .nav-link, [class*='sidebar-light-'] .nav-sidebar > .nav-item > .nav-link {
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff !important;
}
[class*='sidebar-light-'] .nav-sidebar > .nav-item.menu-open > .nav-link, [class*='sidebar-light-'] .nav-sidebar > .nav-item:hover > .nav-link {
    background-color: rgba(0, 0, 0, 0.1);
    color: #75bed8 !important;
}

.nav-sidebar .nav-treeview > .nav-item > .nav-link > .nav-icon {
    /*background-image: linear-gradient(100deg, #3a1234, #1d123a 25%, #2580c3) !important;*/
    background-coloe: #fff;
    color: #2580c3;
}
.nav-pills .nav-link:not(.active):hover {
    color: #fff;
    background-image: linear-gradient(100deg, #3a1234, #1d123a 25%, #2580c3) !important;
}
.main-footer {
     color: #ffffff;
    padding: 1rem;
}

.color-footer {
    color: #ffffff;
    padding: 1rem;
}