@model Client_mvc.Models.Depart
<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Client_mvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Client_mvc.styles.css" asp-append-version="true" />
</head>
<body>
<div class="col-md-4">
        @if (ViewBag.erorr != null){
            <div class="alert-danger">
                @ViewBag.erorr
            </div>
        }
        <form asp-action="Login" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Locatin" class="control-label"></label>
            <input asp-for="Locatin" class="form-control" />
            <span asp-validation-for="Locatin" class="text-danger"></span>
        </div>
       
        <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
        </div>
    </form>
</div>
</body>
</html>